.callback{
    background-color:  #f4f4f4;
    min-width: 320px;
    &__container{
        font-family: $primary-font;
        text-align: center;
        padding: 30px 0 42px;
        box-sizing: border-box;
        margin: 0 auto;
        &-title{
            color:  #323232;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            margin: 0 13% 39px;
            &_pc{
                display: none;
            }
        }
        &__form{
            &__wrapper{
                &_name{
                    @include inputField($primary-font, 290px);
                    margin-bottom: 15px;
                }
                &_name::placeholder { color: #c8cbcf; }
                &_phone{
                    @include inputField($primary-font, 290px);
                    margin-bottom: 21px;
                }
                &_phone::placeholder { color: #c8cbcf; }
            }
            &__btn{
                @include colorButton($primary-font, #8d81ac, 140px);
                &_pc{
                    display: none;
                }
            }
            &__btn:hover{
                border: 1px solid #8d81ac;
                background-color:  #ffffff;
                color: #8d81ac;
            }
        }
    }
}
@media (min-width: 480px){
    .callback{
        &__container{
            &-title{
                font-size: 28px;
                margin: 0 11% 39px;
            }
            &__form{
                &__wrapper{
                    padding: 0 12%;
                }
            }
        }
    }
}
@media (min-width: 768px){
    .callback{
        &__container{
            &-title{
                color:  #635c73;
                font-size: 30px;
                &_pc{
                    display: block;
                }
                &_mobile{
                    display: none;
                }
            }
            &__form{
                &__wrapper{
                    padding: 0;
                    &_name, &_phone{
                        width: 335px;
                        margin-left: 17px;
                        margin-right: 17px;
                    }
                }
                &__btn{
                    &_pc{
                        display: inline-block;
                    }
                    &_mobile{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px){
    .callback{
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 46px 40px;
            width: 1200px;
            &-title{
                margin: 0;
                margin-right: 29px;
            }
            &__form{
                display: flex;
                &__wrapper{
                    &_name, &_phone{
                        margin-bottom: 0;
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
                &__btn{
                    margin-left: 8px;
                }
            }
        }
    }
}