.carousel{
    text-align: center;
    background-color:  #fdfdfd;
    min-width: 320px;
    &__container{
        width: 70vw;
        margin: 0 auto;
        position: relative;
        &_arrow-prev{
            padding: 5px 10px;
            color: rgba(71, 71, 71, 0.5);
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            top: 207px;
            left: -38px;
        }
        &_arrow-prev::before{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600; 
            font-size: 19px;
            content: "\f104";
        }
        &__slider{
            &__section{
                &__person{
                    &_photo{
                        width: 85px;
                        height: 85px;
                        border-radius: 50%;
                        box-shadow: 0 0 0 1px rgb(255, 85, 85);
                        margin: 37px auto 25px auto;
                        &-hasan-ali{
                            background: url(../images/people/hasan-ali.png) center / cover;
                        }
                        &-babbie-millie{
                            background: url(../images/people/babbie-millie.png) center / cover;
                        }
                        &-gabrielle-gabi{
                            background: url(../images/people/gabrielle-gabi.png) center / cover;
                        }
                        &-fay-nabby{
                            background: url(../images/people/fay-nabby.png) center / cover;
                        }
                        &-rick-byt{
                            background: url(../images/people/rick-byt.png) center / cover;
                        }
                    }
                    &_name{
                        font-family: $primary-font;
                        color:  #474747;
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 7px;
                    }
                    &_nickname{
                        font-family: $primary-font;
                        color:  #8d81ac;
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                }
                &_words{
                    font-family: $additional-font;
                    color:  #333333;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    transform: scaleX(1.0059);
                    margin-bottom: 16px;
                    span{
                        color:  #8d81ac;
                    }
                }
                &_time{
                    font-family: $primary-font;
                    color:  #848e97;
                    font-size: 16px;
                    transform: scaleX(1.0059);
                    margin-bottom: 20px;
                }
            }
        }
        &_arrow-next{
            padding: 5px 10px;
            color: rgba(71, 71, 71, 0.5);
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            right: -36px;
            top: 207px;
        }
        &_arrow-next::before{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600; 
            font-size: 19px;
            content: "\f105";
        }
    }
}
@media (min-width: 401px){
    .carousel{      
        &__container{          
            &_arrow-prev{
                top: 146px;
            }          
            &__slider{
                &__section{
                    &__person{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: left;
                        &_photo{
                            margin-right: 25px;
                            margin-left: 0;                           
                        }
                        &_name{
                            margin-top: 18px;
                        }
                    }
                    &_words{
                        font-size: 16px;
                    }          
                }
            }
            &_arrow-next{
                top: 146px;
            }          
        }
    }
}
@media (min-width: 481px){
    .carousel{      
        &__container{
            max-width: 568px;
            &_arrow-prev{
                top: 150px;
            }          
            &__slider{
                &__section{
                    &__person{
                        &_photo{
                            box-shadow: none;                          
                        }
                        &_name{
                            color:  #635c73;
                        }
                    }
                    &_words{
                        font-size: 20px;
                        line-height: 32px;                      
                    }
                }
            }
            &_arrow-next{
                top: 150px;
            }          
        }
    }
    .carousel::after{
        content: '';
        background-color:  rgba(199, 199, 199, 0.2);
        height: 2px;
        width: 100%;
        display: inline-block;
    }
}
@media (min-width: 993px){
    .carousel{     
        &__container{
            max-width: 734px;          
        }
    }
    .carousel::after{
        width: 920px;
    }
}