.header {
  background-color: rgb(39, 38, 42);
  min-width: 320px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 31px 23px;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    text-decoration: none;
  }
  &__logo {
    &:hover .header__title {
      color: #fff;
    }
    &:hover .header__logo-img {
      background-image: url(../images/logo-hover.png);
    }
  }
  &__logo-img {
    background-image: url(../images/logo.png);
    width: 43px;
    height: 41px;
  }
  &__title {
    margin-left: 13px;
    font-size: 24px;
    font-weight: 700;
    color: #8d81ac;
    font-family: $additional-font;
    display: none;
    text-transform: uppercase;
  }
  &__btn {
    font-weight: 700;
    padding: 11px 24px;
    font-size: 15px;
    order: 3;
    background-color: #8d81ac;
    font-family: $additional-font;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #8d81ac;
  }
  &__btn:hover {
    border-color: #8d81ac;
    background-color: #fff;
    color: #8d81ac;
    border: 1px solid #8d81ac;
  }
  &__burger {
    width: 26px;
    height: 21px;
    order: 3;
  }
  &__cross {
    order: 3;
    display: none;
  }
  &__menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 103px;
    right: 0;
    left: 0;
    display: none;
    background-color: #333;
    z-index: 1;
    min-width: 320px;
  }
  &__item {
    padding: 7vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  }
  &__link {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-family: $additional-font;
  }
  &__link:hover {
    color: #8d81ac;
  }
  &__item:hover {
    border-left: 4px solid #8d81ac;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .header {
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 31px 15px;
    }
    &__title {
      display: block;
    }
  }
}
@media screen and (min-width: 770px) {
  .header {
    padding: 22px 20px;
    &__content {
      padding: 0;
      position: relative;
    }
    &__btn {
      padding: 12px 35px;
      font-size: 16px;
      position: absolute;
      top: 0;
      right: 0;
    }
    &__burger {
      display: none;
    }
    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: static;
      flex-direction: row;
      background-color: transparent;
      order: 3;
      width: 100%;
      margin-top: 22px;
    }
    &__item {
      width: auto;
      padding: 0 24px;
      border: none;
    }
    &__link {
      color: #8d81ac;
      font-size: 16px;
      font-weight: 700;
    }
    &__link:hover {
      color: #fff;
    }
    &__item:hover {
      border-left: none;
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 31px 6px;
    }
    &__btn {
      min-width: 145px;
      margin-left: 24px;
      order: 3;
      position: static;
    }
    &__menu {
      order: 2;
      width: auto;
      margin-top: 0;
      flex-grow: 8;
      justify-content: flex-end;
    }
    &__item {
      width: auto;
      padding: 0 24px;
      border: none;
    }
    &__link {
      color: #8d81ac;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}
