.people-are-talking {
  background: url(../images/bg-sections/about-fork.png) center no-repeat #4b3b4e;
  background-size: cover;
  padding: 60px 25px 0px 30px;
  align-items: center;
  background-blend-mode: multiply;
  min-width: 265px;

  &__title {
    font-family: $primary-font;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 49px;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__text {
    font-family: $additional-font;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
  }
  &__description {
    display: none;
    font-size: 14px;
    line-height: 21px;
    color: #a291a5;
    text-align: center;
    font-family: $additional-font;
    margin: 0 auto;
  }
  &__line {
    width: 100%;
    background-color: #645766;
    height: 2px;
  }
  &__container {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 480px) {
  .people-are-talking {
    padding: 78px 36px 0px;

    &__title {
      font-size: 42px;
      line-height: 60px;
      margin-bottom: 99px;
    }
    &__item {
      margin-bottom: 67px;
    }
    &__img {
      margin-bottom: 33px;
    }
  }
}
@media screen and (min-width: 780px) {
  .people-are-talking {
    padding: 80px 20px 0;

    &__title {
      margin-bottom: 90px;
      font-size: 42px;
      line-height: 60px;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row wrap;
    }
    &__item {
      width: 40%;
      margin-bottom: 55px;
    }
    &__img {
      margin-bottom: 32px;
    }
    &__description {
      display: block;
    }
    &__line {
      margin-top: 20px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .people-are-talking {
    &__title {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 50px;
    }
    &__item {
      margin-bottom: 112px;
      width: 30%;
    }
    &__description {
      width: 70%;
    }
    &__container {
      max-width: 1200px;
      width: 100%;
      padding: 0 10px;
      margin: 0 auto;
    }
  }
}
