.social-buttons{
    text-align: center;
    background-color:  #fdfdfd;
    padding: 30px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 320px;
    &__item{
        margin-right: 20px;
        margin-left: 20px;
        &-link{
            text-decoration: none;
            &_github{
                @include socialButton(#000, #f3f3f3);
            }
            &_github:hover{
                color:  #f3f3f3;
                background-color:  #2b414d;
                border: 1px solid #2b414d;
            }
            &_twitter{
                @include socialButton(#fff, #26a6d1);
            }
            &_twitter:hover{
                color:  #26a6d1;
                background-color:  #fff;
            }
            &_facebook{
                @include socialButton(#fff, #3b5998);
            }
            &_facebook:hover{
                color:  #3b5998;
                background-color:  #fff;
            }
            .fab{
                position: absolute;
                left: 24px;
                top: 13px;
            }
        }
        &-followers{
            font-family: $primary-font;
            color:  #848e97;
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
}