.title-page {
  position: relative;
  background-image: url(../images/bg-sections/header.png);
  background-size: 400%;
  background-position: center;
  padding: 43px 21px;
  height: 80vh;
  font-family: $primary-font;
  min-width: 277px;
  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: #fff;
    font-family: $primary-font;
    font-size: 48px;
    font-weight: 700;
  }
  &__slogan {
    font-size: 18px;
    line-height: 34px;
    color: #8d81ac;
    margin: 20px 0 10px;
    text-align: center;
    font-family: $additional-font;
  }
  &__small-info {
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
    text-transform: uppercase;
  }
  &__btn-download {
    width: 90%;
    margin: 0 auto;
    padding: 15px 31px 16px 32px;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    z-index: 9;
    bottom: -30px;
    border-radius: 30px;
    color: #fff;
    background-color: #8d81ac;
    border: 1px solid #8d81ac;
  }
  &__btn-download:hover {
    background-color: #ffffff;
    color: #8d81ac;
    border: 1px solid #8d81ac;
    cursor: pointer;
  }
  &__container {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .title-page {
    padding: 101px 42px 0;
    &__title {
      font-size: 54px;
    }
    &__slogan {
      font-size: 20px;
    }
    &__btn-download {
      font-size: 21px;
      max-width: 390px;
    }
  }
}
@media screen and (min-width: 780px) {
  .title-page {
    position: relative;
    background-size: 400%;
    background-position: center;
    padding: 43px 21px;
    height: 80vh;
    &__title {
      font-size: 72px;
    }
    &__slogan {
      font-size: 24px;
    }
    &__btn-download {
      font-size: 21px;
      max-width: 390px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .title-page {
    background-size: cover;
    padding-top: 60px;
    &__title {
      font-size: 82px;
    }
    &__slogan {
      font-size: 30px;
      margin-bottom: 18px;
    }
    &__btn-download {
      font-size: 21px;
      max-width: 390px;
    }
    &__small-info {
      font-size: 17px;
    }
    &__container {
      max-width: 1200px;
      width: 100%;
      padding: 0 10px;
      margin: 0 auto;
    }
  }
}
