.what-you-get{
    background-color: #f4f4f4;
    min-width: 320px;
    &__container{
        max-width: 1200px;
        text-align: center;
        padding: 34px 0;
        box-sizing: border-box;
        margin: 0 auto;
        &-title{
            font-family: $primary-font;
            color:  #8d81ac;
            font-size: 32px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 34px;
            padding: 0 24px;
        }
        &__wrapper{
            padding: 0 24px;
            &__item{
                &-img{
                    margin: auto;
                    margin-bottom: 28px; 
                    &_search{
                        background: url(../images/options/search.png) no-repeat center/contain;
                        height: 64px;
                        position: relative;
                        left: 10px;
                    }
                    &_adjustment{
                        background: url(../images/options/adjustment.png) no-repeat center/contain;
                        height: 80px;
                    }
                    &_experimental{
                        background: url(../images/options/experimental.png) no-repeat center/contain;
                        height: 84px;
                    }
                    &_time{
                        background: url(../images/options/time.png) no-repeat center/contain;
                        height: 71px;
                    }
                }
                &-text{
                    h4{
                        font-family: $primary-font;
                        color:  #323232;
                        font-size: 16px;
                        margin-bottom: 14px; 
                    }
                    p{
                        font-family: $additional-font;
                        color:  #848e97;
                        font-size: 14px;
                        line-height: 21px;
                        margin-bottom: 32px; 
                    }
                }
            }
        }
        &-img{
            background: url(../images/options/editor.png) no-repeat left/cover;
            height: 381px;
            background-position: 0 0;
        } 
    }
}
@media (min-width: 480px){
    .what-you-get{
        &__container{
            &-title{
                font-size: 42px;
                line-height: 45px;
                padding: 0 70px;
            }
            &__wrapper{
                &__item{
                    display: flex;
                    text-align: left;
                    &-img{
                        width: 340px;
                        margin: 0;
                        &_search{
                            margin-right: -15px;
                        }
                    }
                    &-text{
                        padding-left: 30px;
                    }
                }
            }
            &-img{
                height: 519px;
            } 
        }
    }
}
@media (min-width: 660px){
    .what-you-get{
        &__container{
            &__wrapper{
                &__item{  
                    &-img{
                        width: 200px;
                    }
                    &-text{
                        p{
                            font-family: $primary-font;
                        }
                    }
                }
            }
            &-img{
                height: 676px;
            } 
        }
    }
}
@media (min-width: 1200px){
    .what-you-get{
        position: relative;
        &__container{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            padding-bottom: 11%;
            &-title{
                order: 2;
                padding: 0 40px;
                text-align: left;
            }
            &__wrapper{
                order: 1;
                padding-top: 30px;
                width: 45%;
                &__item{
                    &-img{
                        width: 350px;
                    }
                }
            }
            &-img{
                order: 2;
                width: 50%;
                position: absolute;
                top: 90px;
                right: 0;
                height: 85%;
            } 
        }
    }
}