@mixin inputField($font, $width){
    font-family: $font;
    border: none;
    border-radius: 21px;
    font-size: 14px;
    background-color:  #fff;
    width: $width;
    padding: 12px 0 12px 25px;
    outline: none;
    box-sizing: border-box;
    outline: none;
}
@mixin colorButton($font, $bg-color, $width){
    font-family: $font;
    color:  #fff;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    border-radius: 21px;
    background-color:  $bg-color;
    width: $width;
    height: 42px;
    outline: none;
    cursor: pointer;
}
@mixin socialButton($text-color, $bg-color){
    font-family: $primary-font;
    color:  $text-color;
    font-size: 21px;
    border: 1px solid $bg-color;
    border-radius: 4px;
    background-color:  $bg-color;
    width: 280px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 18px;
    position: relative;
}