/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@import './mixins.scss';
@import './vars.scss'; 
@import './modules/header.scss';
@import './modules/title-page.scss';
@import './modules/revolutionary-product.scss';
@import './modules/what-you-get.scss';
@import './modules/carousel.scss';
@import './modules/social-buttons.scss';
@import './modules/people-are-talking.scss';
@import './modules/price.scss';
@import './modules/callback.scss';
@import './modules/footer.scss';

